/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65%;
    color: #bfbfbf;
}

body {
    font-size: 1.6rem;
    text-decoration: none;
    background-color: rgb(207 207 207 / 40%);
}
/* Barra de navegación */
header {
    background-color: rgb(243 243 243 / 63%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a{
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a.activo {
    color: rgb(118 180 190);
}

a{
    margin: 0px;
    text-decoration: none;
}

.a-deco{
    color: #75b5c1;
}

/* Barra de navegación */
header {
    background-color: rgb(243 243 243 / 63%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav a{
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem;
}

nav a.activo {
    color: rgb(118 180 190);
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.sect-color{
    background-color: rgb(207 207 207 / 40%);
}

.section-cont {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #75b5c1;
    margin-top: 0;
    font-size: 1.9rem;
}

section p,
section ul {
    margin: 10px 0;
    color: #515151;
}

section ul {
    padding-left: 20px;
}

section ul li {
    list-style-type: disc;
}

strong {
    color: #1d1d1d8f;
}

.strong-color{
    color: rgb(49, 112, 112);
}

@media (max-width: 600px) {
    main {
        padding: 0 10px;
    }
}

footer{
    background-color: rgb(243 243 243 / 63%);
    text-align: center;
    padding: 1rem;
    color: #222222;
}